<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron jumbotron-fluid d-flex align-items-center justify-content-center">
        <div class="container">
          <h1 class="display-4">GetBetterGolf</h1>
          <p class="lead">The future of tracking golf scores in order to build better players.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-end" style="margin-top: 10px;">
        <button (click)="goToScorePost()" class="btn btn-success" style="margin-right: 10px">Add Score</button>
        <button (click)="signOut()" class="btn btn-danger">Sign Out</button>
      </div>
    <div class="col-md-6">
      <img
        src="https://golf.com/wp-content/uploads/2016/11/Tiger-follow-through.jpg"
        alt="black/white golf shot"
        style="width: 100%; height: auto; clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); object-fit: cover;"
      />
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12 d-flex justify-content-center">
      <div class="form-group" style="margin-right: 10px;">
        <select [(ngModel)]="selectedCourseId">
          <option value="">All Courses</option>
          <option *ngFor="let courseId of courseIds" [value]="courseId">{{ mapCourseName(courseId) }}</option>
        </select>
      </div>
      <button (click)="applyCourseFilter()" class="btn btn-primary">Filter</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4" *ngFor="let score of selectedCourseId ? filteredScores : userScores">
          <div class="card" style="width: 18rem; margin: 10px;">
            <div class="card-body">
              <h5 class="card-title">
                <a
                  (click)="goToCoursePage(score.golfCourseId)"
                  class="btn btn-secondary text-white font-weight-bold"
                >
                  {{ mapCourseName(score.golfCourseId) }}
                </a>
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">Total Score: {{ score.totalScore }}</h6>
              <p class="card-text">
                Date: {{ score.entryDate | date }}<br>
                Tees: {{ score.tees }}<br>
                Holes: {{ score.holes }}<br>
                Starting Position: {{ score.startingPosition }}<br>
                Putts: {{ score.putts }}<br>
                Notes: {{ score.notes }}<br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
