<p>edit-score works!</p>
<div class="container">
    <h1>Edit Score</h1>
    <form (ngSubmit)="submitEdit()" #editScoreForm="ngForm">
        <div class="form-group">
            <label for="golfCourseName">Golf Course Name:</label>
            <select id="golfCourseName" name="golfCourseName" [(ngModel)]="score.golfCourseId">
              <option *ngFor="let course of courseList" [value]="course.id">{{ course.name }}</option>
            </select>
          </div>


      <div class="form-group">
        <label for="entryDate">Entry Date:</label>
        <input type="date" id="entryDate" name="entryDate" [(ngModel)]="score.entryDate" required>
      </div>


      <div class="form-group">
        <label for="tees">Tees:</label>
        <input type="text" id="tees" name="tees" [(ngModel)]="score.tees">
      </div>


      <div class="form-group">
        <label for="startingPosition">Starting Position:</label>
        <input type="number" id="startingPosition" name="startingPosition" [(ngModel)]="score.startingPosition">
      </div>


      <div class="form-group">
        <label for="holes">Holes:</label>
        <input type="number" id="holes" name="holes" [(ngModel)]="score.holes">
      </div>


      <div class="form-group">
        <label for="putts">Putts:</label>
        <input type="number" id="putts" name="putts" [(ngModel)]="score.putts">
      </div>


      <div class="form-group">
        <label for="totalScore">Total Score:</label>
        <input type="number" id="totalScore" name="totalScore" [(ngModel)]="score.totalScore">
      </div>

      <div class="form-group">
        <label for="notes">Notes:</label>
        <textarea id="notes" name="notes" [(ngModel)]="score.notes"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
