<div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron jumbotron-fluid d-flex align-items-center justify-content-center">
          <div class="container">
            <h1 class="display-4">GetBetterGolf</h1>
            <p class="lead">The future of tracking golf scores in order to build better players.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-end" style="margin-top: 10px;">
          <button (click)="goToScorePost()" class="btn btn-success" style="margin-right: 10px">Add Score</button>
          <button (click)="goToHome()" class="btn btn-primary" style="margin-right: 10px">Home</button>
          <button (click)="signOut()" class="btn btn-danger">Sign Out</button>

        </div>
      </div>
    </div>

    <div class="container">
        <img [src]="selectedCourse.imageUrl" alt="{{ selectedCourse.courseName }}" style="max-width: 100%;">
      <h1>Course Information</h1>
      <h2>{{ selectedCourse.courseName }}</h2>
      <p>Location: {{ selectedCourse.location }}</p>
      <p>Par: {{ selectedCourse.par }}</p>

      <h2>Your Scores on {{ selectedCourse.courseName }}</h2>
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="row">
            <ng-container *ngIf="selectedCourse; else noScores">
              <div class="col-md-4" *ngFor="let score of scores">
                <div class="card" style="width: 18rem; margin: 10px;">
                  <div class="card-body">
                    <h5 class="card-title">{{ selectedCourse.courseName }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Total Score: {{ score.totalScore }}</h6>
                    <p class="card-text">
                      Date: {{ score.entryDate | date }}<br>
                      Tees: {{ score.tees }}<br>
                      Holes: {{ score.holes }}<br>
                      Starting Position: {{ score.startingPosition }}<br>
                      Putts: {{ score.putts }}<br>
                      Notes: {{ score.notes }}<br>
                    </p>
                    <!-- Edit and Delete buttons -->
                    <button type="button" class="btn btn-warning" (click)="editScore(score.id)">Edit</button>
                    <button type="button" class="btn btn-danger" (click)="deleteScore(score.id)">Delete</button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noScores>
      <p>No scores available for this course.</p>
    </ng-template>
