<div class="jumbotron jumbotron-fluid d-flex align-items-center justify-content-center">
    <div class="container">
      <h1 class="display-4">GetBetterGolf</h1>
      <p class="lead">The future of tracking golf scores in order to build better players.</p>
    </div>
    <div class="buttons">
        <button (click)="navigateToLogin()" class="btn btn-primary mr-2">Login</button>
        <button (click)="navigateToRegister()" class="btn btn-secondary">Register</button>
      </div>
  </div>
  <img src="https://golf.com/wp-content/uploads/2016/11/Tiger-follow-through.jpg" alt="black/white golf shot"
  style="width: 100%; height: auto; clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); object-fit: cover;">
  <div class="container mt-4">
    <div class="card">
      <div class="row">
        <div class="col-md-6">
          <div class="card-body">
            <form (ngSubmit)="login(loginDto)">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="loginDto.email" name="email" required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="loginDto.password" name="password" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-center">
                <p class="d-flex align-items-center justify-content-center">Don't have an account yet?</p>
              </div>
              <div class="d-flex align-items-center justify-content-center" >
              <button class=" btn btn-secondary" (click)="navigateToRegister()">Register</button>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
