<div class="jumbotron jumbotron-fluid d-flex align-items-center justify-content-center">
    <div class="container">
      <h1 class="display-4">GetBetterGolf</h1>
      <p class="lead">The future of tracking golf scores in order to build better players.</p>
    </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-body">
          <form (ngSubmit)="register(registerDto)">
            <div class="form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="registerDto.name" required>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="registerDto.email" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="registerDto.password" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
          <hr>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img src="https://golf.com/wp-content/uploads/2016/11/Tiger-follow-through.jpg" alt="black/white golf shot" style="width: 100%; height: auto; clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); object-fit: cover;">
    </div>
  </div>
</div>
