<div class="container">
    <h2>Add Golf Score</h2>
    <form (ngSubmit)="onSubmit()" #scoreForm="ngForm">
      <div class="form-group">
        <label for="golfCourseId">Golf Course:</label>
        <select class="form-control" id="golfCourseId" name="golfCourseId" [(ngModel)]="score.golfCourseId" required>
          <option *ngFor="let course of courses" [value]="course.id">{{ course.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="entryDate">Date:</label>
        <input type="date" class="form-control" id="entryDate" name="entryDate" [(ngModel)]="score.entryDate" required>
      </div>
      <div class="form-group">
        <label for="tees">Tees:</label>
        <input type="text" class="form-control" id="tees" name="tees" [(ngModel)]="score.tees" required>
      </div>
      <div class="form-group">
        <label for="startingPosition">Starting Position:</label>
        <select class="form-control" id="startingPosition" name="startingPosition" [(ngModel)]="score.startingPosition" required>
          <option value="1">1</option>
          <option value="10">10</option>
        </select>
      </div>
      <div class="form-group">
        <label for="holes">Holes:</label>
        <input type="number" class="form-control" id="holes" name="holes" [(ngModel)]="score.holes" required>
      </div>
      <div class="form-group">
        <label for="putts">Putts:</label>
        <input type="number" class="form-control" id="putts" name="putts" [(ngModel)]="score.putts" placeholder="Leave at 0 if you didnt record putts.">
      </div>
      <div class="form-group">
        <label for="totalScore">Total Score:</label>
        <input type="number" class="form-control" id="totalScore" name="totalScore" [(ngModel)]="score.totalScore" required>
      </div>
      <div class="form-group">
        <label for="notes">Notes:</label>
        <textarea class="form-control" id="notes" name="notes" [(ngModel)]="score.notes" placeholder="Optional"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add Score</button>
    </form>
  </div>
